[submodule "external/ManagedSDL2"]
	path = external/ManagedSDL2
	url = https://github.com/AdrUlb/ManagedSDL2
[submodule "external/ImageLib"]
	path = external/ImageLib
	url = https://github.com/Adrulb/ImageLib
